class <%= model_name.pluralize %>::Cell::Forms::FieldSelector < KonoUtils::Object::Cell::Forms::FieldSelector

  def get_field
    case attribute_name
    #when :field_name
    #  concept("cell/forms/fields/association", attribute_name, field_options: {as: :check_boxes})
    else
      super
    end
  end


end