<table>
  <thead>
  <tr>
    <th>Colonna</th>
  </tr>
  </thead>
  <tbody class="kono_utils_nested_multi_container" id="<%= target_container_for_new_nested %>">
  <%= yield %>
  </tbody>
  <tfoot></tfoot>
</table>