<%= concept("cell/forms/fields/nested_wrappers/header", model, context: {form: form, parent_cell: self}) %>

<div class="kono_utils_nested_multi_container" id="<%= target_container_for_new_nested %>">
  <%= inner_form_block do |inside_form| %>

    <%= concept("cell/forms/container", inside_form.object,
                form_attributes: inner_fields,
                container_dom_id: dom_id(inside_form.object, dom_id(form.object)),
                container_classes: [
                  :kono_utils_single_nested_container,
                  dom_class(inside_form.object, dom_class(form.object))
                ],
                context: {form: inside_form}
        ) %>

  <% end %>
</div>



