<div class="kono_utils_single_nested_container" id="<%= container_id %>">

  <div class="card">
    <div class="card-header">
      <%= object_header %>
    </div>
    <div class="card-body">
      <%= yield %>
    </div>
    <% if content_for_layout? :"remove_button_#{container_id}" %>
      <div class="card-footer text-right">
        <%= content_for_layout :"remove_button_#{container_id}" %>
      </div>
    <% end %>
  </div>

</div>